<p id="notice"><%= notice %></p>

<h1>My Tweets</h1>

<br>
<% @tweets.each do |tweet| %>


<div class="card-columns">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><%= tweet.title %></h5>
      <p class="card-text"><%= tweet.content %></p>
      <%= link_to 'Show', tweet %>
      <%= link_to 'Edit', edit_tweet_path(tweet) %>
      <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
      <small class="text-muted"><%= time_ago_in_words tweet.updated_at %></small>
    </div>
  </div>

<div class="card text-center">
  <div class="card bg-danger text-white text-center p-3">
    <h5 class="card-title"><%= tweet.title %></h5>
      <p class="card-text"><%= tweet.content %></p>
      <%= link_to 'Show', tweet %>
      <%= link_to 'Edit', edit_tweet_path(tweet) %>
      <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
      <small class="text-muted"><%= time_ago_in_words tweet.updated_at %></small>
  </div>
  </div>
</div>
<% end %>

<%= link_to 'New Tweet', new_tweet_path %>
